<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile=".\logs\internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target name="textfile"
            xsi:type="File"
            fileName=".\logs\hangfire-sqlite-all.log"
            archiveFileName =".\logs\hangfire-sqlite-all.{#}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:innerFormat=message:maxInnerExceptionLevel=3} | ${exception:format=ToString,StackTrace}"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="104857600"
            archiveEvery="Day"
            maxArchiveFiles="30"
            archiveDateFormat="yyyyMMdd"
             />

    <target name="jsonFile"
            xsi:type="File"
            fileName=".\logs\hangfire-sqlite-all.json"
            archiveFileName =".\logs\hangfire-sqlite-all.{#}.json"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="104857600"
            archiveEvery="Day"
            maxArchiveFiles="30"
            archiveDateFormat="yyyyMMdd">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="eventProperties" encode="false" >
          <layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="2"/>
        </attribute>
        <attribute name="exception" layout="${exception:innerFormat=message:maxInnerExceptionLevel=3}"/>
        <attribute name="stackTrace" layout="${exception:format=ToString,StackTrace}"/>
      </layout>
    </target>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="textfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

  </rules>
</nlog>